@model IEnumerable<EventPlus.Models.EventViewModel>
@{
    ViewBag.Title = "All Events";
}
<main id="main" class="main-page">
    <section class="page-section background-grey" id="login">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center bg-white px-lg-5">
                    <div class="row">
                        <div class="container">
                            <div class="pull-left">
                                @if (Session["UserType"] == "Organizer")
                                {
                                    <h2 class="text-black-50 mt-5">
                                        My Events
                                    </h2>
                                }
                                else
                                {
                                    <h2 class="text-black-50 mt-5">
                                        Events
                                    </h2>
                                }
                            </div>
                            <nav id="nav-menu-container" class="mt-4">
                                @if (Session["UserType"] != null && Session["UserType"] != "Attendee")
                                {
                                    <a class="about-btn" href="CreateEvent">Create New Event</a>
                                    <br>
                                }
                            </nav>
                        </div>
                    </div>

                    <hr class="divider" />

                    <br>

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-md-6 mb-4">
                                            <div class="card listing-preview">
                                                <img class="card-img-top" src="~/Images/venue-gallery/@( item.ID%2 + 1).jpg" alt=@item.Name>
                                
                                                <div class="card-body">
                                                    <div class="listing-heading text-center">
                                                        @Html.ActionLink(item.Name, "EventDetail", new { eventID = item.ID }, new { @class = "font-weight-bold" })
                                                        <p class="font-italic">
                                                            @item.Type
                                                        </p>

                                                    </div>
                                                    <hr>
                                                    <div class="row py-2 text-secondary">
                                                        <div class="col-6">
                                                            Ticket Quantity
                                                        </div>
                                                        <div class="col-6">
                                                            @item.TicketQuantity
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row py-2 text-secondary">
                                                        <div class="col-6">
                                                            Date & Time
                                                        </div>
                                                        <div class="col-6">
                                                            @item.ScheduledDateTime
                                                        </div>
                                                    </div>
                                                    <hr>

                                                    <div class="row text-secondary pb-2">
                                                        <div class="col-6">
                                                            Recurring
                                                        </div>
                                                        <div class="col-6">
                                                            @if (item.GetEventRecurringValue(item.IsRecurring) == 1)
                                                            {
                                                                <p>Yes</p>

                                                            }
                                                            else
                                                            {
                                                                <p>No</p>
                                                            }
                                                        </div>
                                                    </div>
                                                    @Html.ActionLink("More Info", "EventDetail", new { eventID = item.ID }, new { @class = "about-btn btn-block" })

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                </div>
                            </div>
                        </div>

                    

                        </div>
                    </div>
                </div>
    </section>

</main>

